#
# Copyright (c) 2023-2026. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#

# FOR UPGRADES: Do safe pod-kills, leader last

#
{{- $emsParams := include "need.msg.ems.params" . | fromYaml -}}
{{- $dataPvc := $emsParams.ems.logs.storageName -}}
{{- $jobname := printf "%s-ems-ini-up-%s" $emsParams.ems.name (randAlphaNum 4 | lower) -}}
{{- $stsname := printf "%s-ems" $emsParams.ems.name -}}
{{- $svcEms := printf "%s-%s" $emsParams.ems.name "ems" -}}
{{- $svcEmsHost := printf "%s.%s.svc" $svcEms $emsParams.ems.namespace -}}
{{- $svcEmsActiveHost := printf "%sactive.%s.svc" $svcEms .Release.Namespace -}}
{{- $svcFtl := printf "%s-%s" $emsParams.ems.name "ftl" -}}
{{- $svcFtlHost := printf "%s.%s.svc" $svcFtl .Release.Namespace -}}
# Additional HELPER VARIABLE DEFINITIONS
#
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ $jobname }}"
  labels:
    name: "{{ $jobname }}"
    {{ include "msg.dp.labels" . | indent 4 }}
    {{ include "ems.std.labels" $emsParams | indent 4 }}
    tib-dp-app: msg-ems-ftl
  namespace: "{{ .Release.Namespace }}"
spec:
  backoffLimit: 0
  #4hr limit -  activeDeadlineSeconds: 14400
  ttlSecondsAfterFinished: 86400
  template:
      metadata:
          name: "{{ $jobname }}"
          namespace: "{{ .Release.Namespace }}"
          labels:
              name: "{{ $jobname }}"
              tib-dp-app: msg-ems-ftl
              {{ include "msg.dp.labels" . | indent 14 }}
              {{ include "msg.dp.net.kubectl" . | indent 14}}
              {{ include "ems.std.labels" $emsParams | indent 14 }}
      spec:
          enableServiceLinks: false
          nodeSelector:
              kubernetes.io/os: linux
          {{- if ne "none" $emsParams.dp.pullSecret }}
          imagePullSecrets:
          - name: {{ $emsParams.dp.pullSecret }}
          {{- end }}
          serviceAccountName: "{{ $emsParams.dp.serviceAccount }}"
          {{ include "msg.dp.security.pod" $emsParams | nindent 10 }}
          restartPolicy: Never
          volumes:
          - name: scripts-vol
            configMap:
              name: "{{ $emsParams.ems.name }}-scripts"
              defaultMode: 0777
          - name: "ems-log"
            {{ if eq "sharedPvc" $emsParams.ems.logs.storageType }}
            persistentVolumeClaim:
              claimName: "{{ $emsParams.ems.logs.storageName }}"
            {{ else }}
            emptyDir: {}
            {{ end }}
          - name: "ems-data"
            # TODO: Support PVCdata during init
            emptyDir: {}
          terminationGracePeriodSeconds: 10
          containers:
          -   name: "main"
              # {{ $svcEmsActiveHost := printf "%sactive.%s.svc" $svcEms .Release.Namespace }}
              command: ['/compliance/check_eua', 'bash', '-c' ]
              args:
              - >
                ( mkdir -p /data/boot ; cd /data/boot ;
                    for x in /boot/mk-*.sh ; do bash < $x ; done | tee boot.out ) ;
                mkdir -p /logs/boot ; cd /logs/boot ;
                bash < /boot/ems-init-upgrade.sh ; 
              image: "{{ $emsParams.ems.image }}"
              imagePullPolicy: "{{ $emsParams.dp.pullPolicy }}"
              resources:
                {{ $emsParams.job.resources | toYaml | nindent 16 }}
              {{ include "msg.dp.security.container" $emsParams | nindent 14 }}
              volumeMounts:
              - mountPath: /boot
                name: scripts-vol
              - mountPath: /logs
                name: "ems-log"
                {{ if eq "sharedPvc" $emsParams.ems.logs.storageType }}
                subPathExpr: "$(MY_RELEASE)/logs"
                {{ end }}
              - mountPath: /data 
                name: ems-data
              envFrom:
                - secretRef:
                    # name: "{{ $emsParams.ems.name }}-tibadmin"
                    name: "tp-msg-gateway-tibadmin"
                    optional: True
              env:
              # CAUTION! Setting Names here overrides envFrom values
              {{ include "msg.dp.stdenv" $emsParams | nindent  14 }}
    {{ if .Values.ems.skipRedeploy }}
              - name: HEALTH_ACTION
                value: "skip-redeploy"
    {{ else }}
              - name: HEALTH_ACTION
                value: "redeploy"
    {{ end }}
              - name: ACCEPT_EUA
                value: "y"
              - name: STS_NAME
                value: "{{ $stsname }}"
              - name: MY_POD_DOMAIN
                value: "{{ $emsParams.ems.headlessDomain }}"
              - name: FTL_SERVICE
                value: "{{ $emsParams.ems.name }}-ftl"
              - name: EMS_SERVICE
                value: "{{ $emsParams.ems.name }}-ems"
              - name: REALM_PORT
                value: "{{ $emsParams.ems.ports.realmPort }}"
              - name: EMS_TCP_PORT
                value: "{{ $emsParams.ems.ports.tcpPort }}"
              - name: EMS_SSL_PORT
                value: "{{ $emsParams.ems.ports.sslPort }}"
              {{ if .Values.ems.tcpEnable }}
              - name: EMS_CLIENT_URL
                value: "tcp://{{ $svcEmsActiveHost }}:$(EMS_TCP_PORT),tcp://{{ $svcEmsHost }}:$(EMS_TCP_PORT)"
              - name: EMS_ACTIVE_URL
                value: "tcp://{{ $svcEmsActiveHost }}:$(EMS_TCP_PORT)"
              {{ else if .Values.ems.sslEnable }}
              - name: EMS_CLIENT_URL
                value: "ssl://{{ $svcEmsActiveHost }}:$(EMS_SSL_PORT),ssl://{{ $svcEmsHost }}:$(EMS_SSL_PORT)"
              - name: EMS_ACTIVE_URL
                value: "ssl://{{ $svcEmsActiveHost }}:$(EMS_SSL_PORT)"
              {{ end }}
              - name: EMS_INIT_JSON
                value: "/data/boot/tibemsd-ftl.json"
              - name: EMS_HTTP_PORT
                value: "{{ $emsParams.ems.ports.httpPort }}"
              - name: FTL_REALM_URL
                # the service load-balanced REALM URL
                value: "http://{{ $svcFtlHost }}:$(REALM_PORT)"
