#
# Copyright (c) 2023-2025. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#

{{-  $apdParams := include "need.msg.apd.params" . | fromYaml -}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $apdParams.apd.name }}-params
  namespace: "{{ .Release.Namespace }}"
  labels:
    tib-dp-app: msg-apd-ftl
    tib-dp-release: "{{ .Release.Name }}"
    tib-msg-apd-name: "{{ $apdParams.apd.name }}"
    {{ include "msg.dp.labels" . | indent 4 }}
data:
  apdparams.yaml: |
{{ include "need.msg.apd.params" . | indent 4 }}
...
