
#
# Copyright (c) 2023-2026. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
{{-  $cpParams := include "need.msg.cp.params" . | fromYaml }}
apiVersion: cloud.tibco.com/v1
kind: TibcoRoute
metadata:
  name: tp-cp-msg-webserver-ops
  namespace: "{{ .Release.Namespace }}"
  labels:
    app.kubernetes.io/name: msg-webserver
    app.kubernetes.io/component: msg
spec:
  endpoints:
  - internalPath: /v1/proxy/$1/tibco/agent/msg/ops/shell$2
    path: /tibco/agent/msg/([^/]+)/ops/cli(.*)
    port: 80
    protocol: http
    proxies:
    - allowClientCache: true
      allowXFrameOptions: true
      config: secure
      configVariables:
        SECURE_REDIRECT_SKIP_ACCTS_CHECK: "true"
        SECURE_REDIRECT_SKIP_EULA_CHECK: "true"
        SECURE_REDIRECT_SKIP_ORG_CHECK: "true"
      enableRedirects: true
      fqdn: "{{ $cpParams.DNS_DOMAIN }}"
      listener: virtual
  serviceName: dp-proxy
  serviceNamespace: {{ .Release.Namespace }}
