#
# Copyright (c) 2023-2026. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#
  {{- $jobname := printf "%s-infradb-pod-delete-%s" .Release.Name (include "tp-cp-hawk-console-recipes.resourceSuffix" .) }}
apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ $jobname }}"
  labels:
    name: "{{ $jobname }}"
    app.kubernetes.io/name: hawk-infradb-pod-delete
    app.kubernetes.io/component: hawk
  namespace: "{{ .Release.Namespace }}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "5"
spec:
  backoffLimit: 0
  #4hr limit -  activeDeadlineSeconds: 14400
  #72hr limit -  activeDeadlineSeconds: 259200
  ttlSecondsAfterFinished: 7200
  template:
    metadata:
      name: "{{ $jobname }}"
      namespace: "{{ .Release.Namespace }}"
      labels:
        name: "{{ $jobname }}"
        app.kubernetes.io/name: hawk-infradb-pod-delete
        app.kubernetes.io/component: hawk
        networking.platform.tibco.com/kubernetes-api: enable
    spec:
      enableServiceLinks: false
      nodeSelector:
        kubernetes.io/os: linux
      imagePullSecrets:
        {{- if (include "tp-cp-hawk-console-recipes.container-registry.secret" .) }}
        - name: {{ include "tp-cp-hawk-console-recipes.container-registry.secret" . }}
        {{- end }}
      restartPolicy: Never
      serviceAccountName: {{ .Values.global.tibco.serviceAccount }}
      {{- if .Values.global.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.global.podSecurityContext | nindent 12 }}
      {{- end }}
      terminationGracePeriodSeconds: 10
      containers:
        -   name: "hawkconsole-cp-uninstall"
            command: ['bash', '-c']
            args:
              - |
                # Cleanup old hook jobs
                echo "Cleaning up old hook jobs & pods"
                kubectl get pods -l=app.kubernetes.io/name=tp-hawk-infra -n ${RELEASE_NAMESPACE} | egrep "Complete|Failed|Error" | while read x o ; do
                   echo "Deleting pod $x"
                   kubectl delete pod $x
                done
                #----
                kubectl get jobs -l=app.kubernetes.io/name=tp-hawk-infra -n ${RELEASE_NAMESPACE} | egrep "Complete|Failed|Error" | while read x o ; do
                   echo "Deleting job $x"
                   kubectl delete job $x
                done 
                exit 0

            image: {{ include "tp-cp-hawk-console-recipes.image.registry" .}}{{"/"}}{{ include "tp-cp-hawk-console-recipes.image.repository" .}}{{"/"}}{{ .Values.image.hawkRecipeDelete.name }}:{{ .Values.image.hawkRecipeDelete.tag}}
            imagePullPolicy: {{ .Values.image.hawkRecipeDelete.pullPolicy }}
          {{- if .Values.global.containerSecurityContext.hawkinfrajobs }}
            securityContext:
              {{- toYaml .Values.global.containerSecurityContext.hawkinfrajobs | nindent 18 }}
          {{- end }}
            env:
              - name: RELEASE_NAMESPACE
                value: "{{ .Release.Namespace }}"
              - name: ROLLME
                # REQUIRE NEW JOB TO START
                value: {{ include "tp-hawk-infra.randomSuffix" . }}
