#
# Copyright (c) 2023-2026. Cloud Software Group, Inc.
# This file is subject to the license terms contained
# in the license file that is distributed with this file.
#

#
# HELPER VARIABLE DEFINITIONS
{{- $params := include "need.msg.gateway.params" . | fromYaml -}}
{{- $basename := printf "%s" $params.msggw.basename  -}}
{{- $svcname := $basename -}}
#
kind: Service
apiVersion: v1
metadata:
  name: "{{ $svcname }}"
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-service
    tib-msg-stsname: "{{ $svcname }}"
spec:
  ports:
  - name: gw-api
    port: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
    protocol: TCP
  - name: restd
    port: 9014
    protocol: TCP
  selector:
    tib-msg-stsname: "{{ $svcname }}"

---
# Pending removal - deferred to 1.7.0 w/ Single prometheus
# MSGDP-950: Dedicated monitoring scrape service to avoid probes on alternate pod service ports
kind: Service
apiVersion: v1
metadata:
  name: "{{ $svcname }}-finops"
  annotations:
    {{ include "msg.gateway.mon.anno" $params | indent 4 }}
  labels:
    {{- include "msg-gateway.std.labels" $params | nindent 4 }}
    {{ include "msg.gateway.mon.labels" $params | nindent 4 }}
    app.kubernetes.io/component: msg-gateway-finops
    tib-msg-stsname: "{{ $svcname }}"
spec:
  ports:
  - name: ops-shell
    port: {{ int $params.msggw.ports.gatewayApiPort | default 8376 }}
    protocol: TCP
  selector:
    tib-msg-stsname: "{{ $svcname }}"
